API_KEY=abc123
DATABASE_URL=postgresql+psycopg://dbuser:db-password@db_service:5432/mydb
#OPENAI_BASE_URL="http://model-runner.docker.internal/engines/v1"
#OPENAI_MODEL_NAME="ai/qwen3-coder"
#OPENAI_API_KEY="not-set"
OPENAI_MODEL_NAME="gpt-4o"
OPENAI_API_KEY="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"

EMAIL_ADDRESS="otnielaienginner@gmail.com"
EMAIL_PASSWORD="wqxm ayge uzxs iqme"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=465